#messages{
    height: 700px;
    width: 500px;
    overflow: auto;
    border: 1px solid black;
    padding: 10px;
    margin:10px;
}

#feedback{
    display: none;
}

#senderName{
    font-weight: bold;
    color: blueviolet;
}